.heading {
  color: #609;
  font-size: 2.2em;
  text-align: center;
}

#formName,
#formPass {
  border-radius: 25px;
  border: 2px solid #609;
  padding: 20px; 
  width: 200px;
  outline: none;
  height: 15px;
  box-shadow: 2px 2px 3px 2px #999;
}

.fullForm {
  margin: 0 auto;
  text-align: center;
  border: 1px solid;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  box-shadow: 5px 8px 8px 8px #888;
}

.form-group{
  border: none;
}

#formButton {
  padding: 10px 30px;
  outline: none;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #609;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

#formButton:hover {background-color: #609}

#formButton:active {
  background-color: #609;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.form-label{
  padding-right: 10px;
}